.content2{
    color: black;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 25%;
}
.kakao{
    width: 4%;
    height: 4%;
    margin-right: 100px;
}
.BeforeEmail{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.name{
    position: absolute;
    display: flex;
    flex-grow: 1;
    width: 20%;
    top: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.school1{
    position: absolute;
    display: flex;
    flex-grow: 1;
    top: 100px;
    color: rgba(0, 0, 0, 0.637);
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.school2{
    position: absolute;
    display: flex;
    top: 205px;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.637);
    margin-left: 80px;
}
.school3{
    position: absolute;
    display: flex;
    top: 250px;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.637);
    margin-left: 80px;
}
.school4{
    position: absolute;
    display: flex;
    top: 295px;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.637);
    margin-left: 80px;
}
.button{
    position: absolute;
    display: flex;
    top: 370px;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 42%;
}
.input{
    border: none;
    border-bottom: 1px solid #333; /* 밑줄 스타일 및 색상 설정 */
    outline: none;
    background: none;
}