.main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.container{
    overflow-y: scroll; /* 세로 스크롤을 활성화 */
    height: 100vh; /* 뷰포트 높이로 설정하여 화면 전체를 채우도록 함 */
}  
.main1{
    width: 60%;
    height: 60%;
}
.main2{
    width: 40%;
    height: 40%;
    padding-left: 10%;
    margin-right: 100px;
}
.main3{
    width: 40%;
    height: 40%;
    margin-left: 100px;
}
.layout{
    display: flex;
}
.text1{
    color: blue;
    font-size: 40px;
    right: 30%;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}
.text2{
    font-size: 20px;
    right: 30%;
    text-align: center;
    margin: 0;
    font-weight: bold;
}
.text3{
    color: blue;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 240px;
}
.text4{
    font-size: 20px;
    right: 30%;
    text-align: center;
    margin: 0;
    font-weight: bold;
    margin-left: 240px;
}