.content{
    color: black;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    top: 25%;
}
.kakao{
    width: 4%;
    height: 4%;
    margin-right: 100px;
}
.BeforeEmail{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}
.name{
    position: absolute;
    display: flex;
    flex-grow: 1;
    width: 20%;
    top: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.school1{
    position: absolute;
    display: flex;
    flex-grow: 1;
    width: 25%;
    top: 150px;
    color: rgba(0, 0, 0, 0.637);
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.school2{
    position: absolute;
    display: flex;
    margin-left: 3px;
    width: 13%;
    top: 205px;
    background-color: #d9d9d9;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.637);
}
.school3{
    position: absolute;
    display: flex;
    margin-left: 3px;
    width: 13%;
    top: 250px;
    background-color: #d9d9d9;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.637);
}
.school4{
    position: absolute;
    display: flex;
    margin-left: 3px;
    width: 16%;
    top: 295px;
    background-color: #d9d9d9;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.637);
}
.button{
    position: absolute;
    display: flex;
    width: 7%;
    top: 350px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #4682B4;
    padding: 0.5%;
    color: white;
    left: 46%;
}
.input{
    border: none;
    border-bottom: 1px solid #333; /* 밑줄 스타일 및 색상 설정 */
    outline: none;
    background: none;
}