.content1{
    position: absolute;
    margin-left: -650px;
    margin-bottom: 450px;
}
.content2{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 90%;
    position: absolute;
    margin-top: 290px;
    margin-bottom: 100px;
    margin-left: 500px;
}
.content3{
    margin-left: 500px;
    margin-top: 340px;
    padding: 30px;
    width: 70%;
    background-color: lightgray;
}
.content4{
    margin-left: 500px;
    margin-top: 40px;
    padding: 30px;
    width: 70%;
    border: 1px solid black;
}
.application-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  
.application-table th, .application-table td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
.application-table tr:nth-child(even) {
    background-color: #f2f2f2;
    border: 1px solid black;
}
  
.application-table tr:hover {
    background-color: #ddd;
    border: 1px solid black;
}