.Header{
    position: absolute;
    left: 1%;
    margin-top: -0.4%;
    color: white;
    font-size: 80px;
}
.back{
    background-color: #5595FF;
    display: flex;
    width: 100%;
    position: absolute;
    top: -2%;
    height: 95px;
    z-index: 1;
}
.Login{
    position: absolute;
    right: 10%;
    top: 35%;
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.Signup{
    position: absolute;
    right: 3%;
    top: 35%;
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.modal {
    background: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: absolute;
}