.Header{
    position: absolute;
    left: 65.5px;
    color: white;
    margin-top: -2px;
    font-size: 80px;
    font-family: 'Cafe24Ssurround';
}
.back{
    background-color: #5595FF;
    display: flex;
    width: 100%;
    position: absolute;
    top: -2%;
    height: 95px;
    z-index: 1;
}
.Login{
    position: absolute;
    right: 10%;
    top: 35%;
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.Signup{
    position: absolute;
    right: 3%;
    top: 35%;
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.modal {
    background: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: absolute;
}
.suya{
    top: 22px;
    position: absolute;
    width: 50px;
    left: 10px;
}
.suho{
    top: 22px;
    left: 513px;
    position: absolute;
    width: 63px;
}