.Header{
    position: absolute;
    left: 65.5px;
    color: white;
    margin-top: -2px;
    font-size: 80px;
    font-family: 'Cafe24Ssurround';
}
.back{
    background-color: #5595FF;
    display: flex;
    width: 100%;
    position: absolute;
    top: -2%;
    height: 95px;
    z-index: 1;
}
.Login{
    position: absolute;
    right: 10%;
    top: 35%;
    border-radius: 40%;
    background-color: white;
    border: 1px solid black;
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: black;
}
.Signup{
    position: absolute;
    right: 3%;
    top: 10%;
    border-radius: 40%;
    background-color: white;
    border: 1px solid black;
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: black;
}
.suya{
    top: 22px;
    position: absolute;
    width: 50px;
    left: 10px;
}
.suho{
    top: 22px;
    left: 513px;
    position: absolute;
    width: 63px;
}